# Data Extractor

In [1]:
"""
Created on Mon Sep 23 23:02:38 2019

@author: Sowmya
Modified by Dijiang Huang 4/19/2020

Modified by Mark Khusid
December 6, 2024
"""

'\nCreated on Mon Sep 23 23:02:38 2019\n\n@author: Sowmya\nModified by Dijiang Huang 4/19/2020\n'

## Import Libraries

In [2]:
import numpy as np
import pandas as pd

## Define Variables

### Data File Path

In [3]:
# Data file Path
DatasetPath='NSL-KDD/'

### Data File Name

In [4]:
input_train = "KDDTrain+.txt"
input_test = "KDDTest+.txt"
file_extension = '.csv'  # .csv or .txt

### Define Number of Attack Classes

In [5]:
num_attack_class = 4 # total number of attack classes

### Define Attack Subclasses

In [6]:
#All attacks in NSL-KDD classed based on their attack classes: DoS, Prob, U2R, and R2L
attacks_subClass = \
    [
        [
            'apache2',
            'back',
            'land',
            'neptune',
            'mailbomb',
            'pod',
            'processtable',
            'smurf',
            'teardrop',
            'udpstorm',
            'worm'
        ],
        [
            'ipsweep',
            'mscan',
            'portsweep',
            'saint',
            'satan',
            'nmap'
        ],
        [
            'buffer_overflow',
            'loadmodule',
            'perl',
            'ps',
            'rootkit',
            'sqlattack','xterm'],
        [
            'ftp_write',
            'guess_passwd',
            'httptunnel',
            'imap',
            'multihop',
            'named',
            'phf',
            'sendmail',
            'snmpgetattack',
            'spy',
            'snmpguess',
            'warezclient',
            'warezmaster',
            'xlock',
            'xsnoop'
        ]
     ]

## Load the Datasets

In [7]:
print("Loading", input_train, "and", input_test, "files from the current folder where this script resides.....\n")
dataset_train = pd.read_csv(DatasetPath + input_train, header=None, encoding="ISO-8859-1")
dataset_test = pd.read_csv(DatasetPath + input_test, header=None, encoding="ISO-8859-1")

Loading KDDTrain+.txt and KDDTest+.txt files from the current folder where this script resides.....

In [8]:
dataset_test.describe()

,0,4,5,6,7,8,9,10,11,12,...,32,33,34,35,36,37,38,39,40,42
count,22544.000000,2.254400e+04,2.254400e+04,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,...,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000
mean,218.859076,1.039545e+04,2.056019e+03,0.000311,0.008428,0.000710,0.105394,0.021647,0.442202,0.119899,...,140.750532,0.608722,0.090540,0.132261,0.019638,0.097814,0.099426,0.233385,0.226683,18.017965
std,1407.176612,4.727864e+05,2.121930e+04,0.017619,0.142599,0.036473,0.928428,0.150328,0.496659,7.269597,...,111.783972,0.435688,0.220717,0.306268,0.085394,0.273139,0.281866,0.387229,0.400875,4.270361
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.000000,0.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000
50%,0.000000,5.400000e+01,4.600000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,168.000000,0.920000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
75%,0.000000,2.870000e+02,6.010000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,255.000000,1.000000,0.060000,0.030000,0.010000,0.000000,0.000000,0.360000,0.170000,21.000000
max,57715.000000,6.282565e+07,1.345927e+06,1.000000,3.000000,3.000000,101.000000,4.000000,1.000000,796.000000,...,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000

In [9]:
dataset_test.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal,21
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint,15
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan,11

In [10]:
dataset_train.describe()

,0,4,5,6,7,8,9,10,11,12,...,32,33,34,35,36,37,38,39,40,42
count,125973.00000,1.259730e+05,1.259730e+05,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,...,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000
mean,287.14465,4.556674e+04,1.977911e+04,0.000198,0.022687,0.000111,0.204409,0.001222,0.395736,0.279250,...,115.653005,0.521242,0.082951,0.148379,0.032542,0.284452,0.278485,0.118832,0.120240,19.504060
std,2604.51531,5.870331e+06,4.021269e+06,0.014086,0.253530,0.014366,2.149968,0.045239,0.489010,23.942042,...,110.702741,0.448949,0.188922,0.308997,0.112564,0.444784,0.445669,0.306557,0.319459,2.291503
min,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000
50%,0.00000,4.400000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,63.000000,0.510000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
75%,0.00000,2.760000e+02,5.160000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,255.000000,1.000000,0.070000,0.060000,0.020000,1.000000,1.000000,0.000000,0.000000,21.000000
max,42908.00000,1.379964e+09,1.309937e+09,1.000000,3.000000,3.000000,77.000000,5.000000,1.000000,7479.000000,...,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000

In [11]:
dataset_train.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

## Create Train and Test Datasets

In [12]:
X_train = dataset_train.iloc[:, :].values
X_test = dataset_test.iloc[:, :].values

In [13]:
X_train.shape

(125973, 43)

In [14]:
X_test.shape

(22544, 43)

## Define Selected Attack Classes List

In [15]:
# Set1 is selected attack classes
training_attack_class_list = []
training_attack_class_list

[]

In [16]:
# Set2 is removed attack classes
testing_attack_class_list = []
testing_attack_class_list

[]

## Scenario A (SA)

### Enter the Desired Attack Classes

In [ ]:
#| label: CSE548_Cell_1

attack_class_1 = [1, 3]
attack_class_1

[1, 3]

In [ ]:
#| label: CSE548_Cell_2

attack_class_2 = [2, 4]
attack_class_2

[2, 4]

### Append Desired Attack Classes to Training and Testing Attack Class Lists

In [19]:
training_attack_class_list = []
training_attack_class_list.append(attack_class_1)
training_attack_class_list

[[1, 3]]

In [21]:
testing_attack_class_list = []
testing_attack_class_list.append(attack_class_2)
testing_attack_class_list

[[2, 4]]

### Select Subclasses and Save to File

### Create Training Data Set

In [25]:
print("Creating training set.....\n")
setA_train = []

if (training_attack_class_list[0][0] != 0) and \
    (len(training_attack_class_list[0]) != num_attack_class):

    for i in range(len(X_train)):
        # exp., X_train[i, -2] is the label of attack subclass, and attacks_subClass[training_attack_class_list[0][j]-1] identify the selected attack class
        if str.lower(str(X_train[i,-2])) == 'normal':
            setA_train.append(X_train[i])

        for j in range(len(training_attack_class_list[0])):
            if str.lower(str(X_train[i, -2])) in attacks_subClass[training_attack_class_list[0][j]-1]:
                setA_train.append(X_train[i])

    trainingFileName="Training"

    for i in range(len(training_attack_class_list[0])):
        trainingFileName = trainingFileName + "-a" + str(training_attack_class_list[0][i])

    trainingFileName = trainingFileName + file_extension

    np.savetxt(trainingFileName, setA_train, delimiter=',', fmt="%s" )

    print("Files " + trainingFileName + " have been created in the same folder this script resides\n")

elif (len(training_attack_class_list[0]) == num_attack_class):
    print("No changes is needed for training dataset!\n")
else:
    print("No attack classes are chosen, thus no new training file is created!\n")

Creating training set.....

Files Training-a1-a3.csv have been created in the same folder this script resides

### Create Testing Data Set

In [26]:
print("Creating testing set.....\n")    
setA_test = []

# the following for loop choose selected attack classes and normal labeled data and put them into the setA_train.
if (testing_attack_class_list[0][0] != 0) and \
    (len(testing_attack_class_list[0]) != num_attack_class):

    for i in range(len(X_test)):
        # exp., X_train[i, -2] is the label of attack subclass, and attacks_subClass[training_attack_class_list[0][j]-1] identify the selected attack class

        if str.lower(str(X_test[i,-2])) == 'normal':
            setA_test.append(X_test[i])

        for j in range(len(testing_attack_class_list[0])):
            if str.lower(str(X_test[i, -2])) in attacks_subClass[testing_attack_class_list[0][j]-1]:
                setA_test.append(X_test[i])

    testingFileName="Testing"

    for i in range(len(testing_attack_class_list[0])):
        testingFileName = testingFileName + "-a" + str(testing_attack_class_list[0][i])

    testingFileName = testingFileName + file_extension

    np.savetxt(testingFileName, setA_test, delimiter=',', fmt="%s" )

    print("Files " + testingFileName + " have been created in the same folder this script resides\n")

elif len(testing_attack_class_list[0]) == num_attack_class:
    print("No changes is needed for testing dataset!\n")

else:
    print("No attack classes are chosen, thus no new training file is created!\n")

Creating testing set.....

Files Testing-a2-a4.csv have been created in the same folder this script resides

## Scenario B (SB)

### Enter the Desired Attack Classes

In [ ]:
#| label: CSE548_Cell_3

attack_class_1 = [1, 2]
attack_class_1

[1, 2]

In [ ]:
#| label: CSE548_Cell_4

attack_class_2 = [1]
attack_class_2

[1]

### Append Desired Attack Classes to Training and Testing Attack Class Lists

In [25]:
training_attack_class_list = []
training_attack_class_list.append(attack_class_1)
training_attack_class_list

[[1, 2]]

In [26]:
testing_attack_class_list = []
testing_attack_class_list.append(attack_class_2)
testing_attack_class_list

[[1]]

### Select Subclasses and Save to File

### Create Training Data Set

In [27]:
print("Creating training set.....\n")
setA_train = []

if (training_attack_class_list[0][0] != 0) and \
    (len(training_attack_class_list[0]) != num_attack_class):

    for i in range(len(X_train)):
        # exp., X_train[i, -2] is the label of attack subclass, and attacks_subClass[training_attack_class_list[0][j]-1] identify the selected attack class
        if str.lower(str(X_train[i,-2])) == 'normal':
            setA_train.append(X_train[i])

        for j in range(len(training_attack_class_list[0])):
            if str.lower(str(X_train[i, -2])) in attacks_subClass[training_attack_class_list[0][j]-1]:
                setA_train.append(X_train[i])

    trainingFileName="Training"

    for i in range(len(training_attack_class_list[0])):
        trainingFileName = trainingFileName + "-a" + str(training_attack_class_list[0][i])

    trainingFileName = trainingFileName + file_extension

    np.savetxt(trainingFileName, setA_train, delimiter=',', fmt="%s" )

    print("Files " + trainingFileName + " have been created in the same folder this script resides\n")

elif (len(training_attack_class_list[0]) == num_attack_class):
    print("No changes is needed for training dataset!\n")
else:
    print("No attack classes are chosen, thus no new training file is created!\n")

Creating training set.....

Files Training-a1-a2.csv have been created in the same folder this script resides

### Create Testing Data Set

In [28]:
print("Creating testing set.....\n")    
setA_test = []

# the following for loop choose selected attack classes and normal labeled data and put them into the setA_train.
if (testing_attack_class_list[0][0] != 0) and \
    (len(testing_attack_class_list[0]) != num_attack_class):

    for i in range(len(X_test)):
        # exp., X_train[i, -2] is the label of attack subclass, and attacks_subClass[training_attack_class_list[0][j]-1] identify the selected attack class

        if str.lower(str(X_test[i,-2])) == 'normal':
            setA_test.append(X_test[i])

        for j in range(len(testing_attack_class_list[0])):
            if str.lower(str(X_test[i, -2])) in attacks_subClass[testing_attack_class_list[0][j]-1]:
                setA_test.append(X_test[i])

    testingFileName="Testing"

    for i in range(len(testing_attack_class_list[0])):
        testingFileName = testingFileName + "-a" + str(testing_attack_class_list[0][i])

    testingFileName = testingFileName + file_extension

    np.savetxt(testingFileName, setA_test, delimiter=',', fmt="%s" )

    print("Files " + testingFileName + " have been created in the same folder this script resides\n")

elif len(testing_attack_class_list[0]) == num_attack_class:
    print("No changes is needed for testing dataset!\n")

else:
    print("No attack classes are chosen, thus no new training file is created!\n")

Creating testing set.....

Files Testing-a1.csv have been created in the same folder this script resides

## Scenario C (SC)

### Enter the Desired Attack Classes

In [ ]:
#| label: CSE548_Cell_5

attack_class_1 = [1, 2]
attack_class_1

[1, 2]

In [ ]:
#| label: CSE548_Cell_6

attack_class_2 = [1, 2, 3]
attack_class_2

[1, 2, 3]

### Append Desired Attack Classes to Training and Testing Attack Class Lists

In [31]:
training_attack_class_list = []
training_attack_class_list.append(attack_class_1)
training_attack_class_list

[[1, 2]]

In [32]:
testing_attack_class_list = []
testing_attack_class_list.append(attack_class_2)
testing_attack_class_list

[[1, 2, 3]]

### Select Subclasses and Save to File

### Create Training Data Set

In [33]:
print("Creating training set.....\n")
setA_train = []

if (training_attack_class_list[0][0] != 0) and \
    (len(training_attack_class_list[0]) != num_attack_class):

    for i in range(len(X_train)):
        # exp., X_train[i, -2] is the label of attack subclass, and attacks_subClass[training_attack_class_list[0][j]-1] identify the selected attack class
        if str.lower(str(X_train[i,-2])) == 'normal':
            setA_train.append(X_train[i])

        for j in range(len(training_attack_class_list[0])):
            if str.lower(str(X_train[i, -2])) in attacks_subClass[training_attack_class_list[0][j]-1]:
                setA_train.append(X_train[i])

    trainingFileName="Training"

    for i in range(len(training_attack_class_list[0])):
        trainingFileName = trainingFileName + "-a" + str(training_attack_class_list[0][i])

    trainingFileName = trainingFileName + file_extension

    np.savetxt(trainingFileName, setA_train, delimiter=',', fmt="%s" )

    print("Files " + trainingFileName + " have been created in the same folder this script resides\n")

elif (len(training_attack_class_list[0]) == num_attack_class):
    print("No changes is needed for training dataset!\n")
else:
    print("No attack classes are chosen, thus no new training file is created!\n")

Creating training set.....

Files Training-a1-a2.csv have been created in the same folder this script resides

### Create Testing Data Set

In [34]:
print("Creating testing set.....\n")    
setA_test = []

# the following for loop choose selected attack classes and normal labeled data and put them into the setA_train.
if (testing_attack_class_list[0][0] != 0) and \
    (len(testing_attack_class_list[0]) != num_attack_class):

    for i in range(len(X_test)):
        # exp., X_train[i, -2] is the label of attack subclass, and attacks_subClass[training_attack_class_list[0][j]-1] identify the selected attack class

        if str.lower(str(X_test[i,-2])) == 'normal':
            setA_test.append(X_test[i])

        for j in range(len(testing_attack_class_list[0])):
            if str.lower(str(X_test[i, -2])) in attacks_subClass[testing_attack_class_list[0][j]-1]:
                setA_test.append(X_test[i])

    testingFileName="Testing"

    for i in range(len(testing_attack_class_list[0])):
        testingFileName = testingFileName + "-a" + str(testing_attack_class_list[0][i])

    testingFileName = testingFileName + file_extension

    np.savetxt(testingFileName, setA_test, delimiter=',', fmt="%s" )

    print("Files " + testingFileName + " have been created in the same folder this script resides\n")

elif len(testing_attack_class_list[0]) == num_attack_class:
    print("No changes is needed for testing dataset!\n")

else:
    print("No attack classes are chosen, thus no new training file is created!\n")

Creating testing set.....

Files Testing-a1-a2-a3.csv have been created in the same folder this script resides