In [1]:
import os
root_dir = ""
root_dir = os.getcwd()

In [2]:
code_dir = root_dir + "/" + "Fortran_Code/Section_CSV_Fortran_Read_CSV"

In [3]:
os.chdir(code_dir)

In [4]:
build_status = os.system("fpm build 2>/dev/null")

In [5]:
!cat test.csv

"x","y","z","t"
1.000,2.000,3.000,T
4.000,5.000,6.000,F

In [6]:
exec_status = \
    os.system("fpm run 2>/dev/null")

 Print out the size, shape and contents of the header
size =   4
shape =   4
 header = x    y    z    t

 Print out the types
 types =            2           2           2           4

 Print out the data that was read one at a time
 x =    1.0000000000000000        4.0000000000000000
 y =    2.0000000000000000        5.0000000000000000
 z =    3.0000000000000000        6.0000000000000000
 t =  T F

 Print out the size, dimensions and contents of the table data read all at once
table size =   8
# of rows =   2
# of columns =   4

 Printing out the table data directly from the variable...
 table_data = 1.000                         4.000                         2.000                         5.000                         3.000                         6.000                         T                             F
 Using loop to print the table data...
 1.000                         2.000                         3.000                         T
 4.000                         5.000                         6.000                         F

 Converting the table data from strings to floats...

 Printing out the table data as floats using a loop
   1.0000000000000000        2.0000000000000000        3.0000000000000000
   4.0000000000000000        5.0000000000000000        6.0000000000000000